# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
.venv/
env/
venv/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore VSCode settings
.vscode/

# Ignore environment files
.env

# Ignore all models
*.joblib

# Ignore CatBoost training logs
catboost_info/